body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vh;
    border: 2px solid black;
}

.box{
    display: flex;
    border: 1px solid red;
    height: 6vh;
    width: 6vh;
}

.box.sketch {
    background-color: yellow;
}

.btn{
    margin-bottom: 12px;
}