body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    border: 2px solid black;
}

.row{
    display: flex;
    flex: auto;
    width: 400px;
}

.squares{
    flex: 1;
    min-width: 1px;
    min-height: 1px;
}

.squares.sketch {
    background-color: yellow;
}

.btn{
    margin-bottom: 12px;
}